
#timer {
    width: 300px;
    margin: 40px auto;
    text-align: center;
    padding: 15px;
    background: #f0f8ff;
    border: 2px solid #87cefa;
    border-radius: 15px;
    box-shadow: 0 0 15px #87cefa;
}

#timer h1 {
    margin: 0;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #003366;
}


#controls {
    width: 260px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 15px;
    background: #f9f9f9;
}


#controls input[type="button"] {
    width: 110px;
    height: 50px;
    margin: 5px;
    border-radius: 12px;
    border: 0;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

#controls input[type="button"]:hover {
    background-color: #f0f0f0;
    
}


#startBtn {
    background-color: #b3ffb3;
    /* border-color: #66cc66; */
}


#stopBtn {
    background-color: #ffb3b3;
    /* border-color: #cc6666; */
}
