html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url(../assets/Cryptocurrency-1.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40% auto;
    position: relative;
    background-color: #f8f9fa;
}

.login-form {
    background-color: #ffffff;
    margin: 10px;
    position: absolute;
    text-align: center;
    top: 25%;
    right: 20%;
    width: 400px;
    height: 380px;
    border-radius: 15%;
}

table {
    margin: auto;
    width: 100%;
    padding-top: 30px;
}

th {
    font-weight: bold;
    font-size: 30px;
}


input[type="email"],
input[type="text"],
input[type='password'] {
    border: 0;
    outline: 0;
    height: 30px;

    background-color: #ffffff;
    border-bottom: 2px solid #6c757d;
    width: 75%;
}

input[type="email"]:focus,
input[type='password']:focus,
input[type="email"]:active,
input[type='password']:active {
    border-bottom: 2px solid #81d4fa
}

input[type='submit'] {
    width: 250px;
    height: 40px;
    margin-top: 20px;
    font: bold 15px tahoma;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

input[type='submit']:hover {
    cursor: pointer;
    background-color: #0056b3
}