body {
    background-image: url('./assets/bgshop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: tahoma;
}

.product-box {
    width: 500px; 
    background-color: #add8e6; 
    margin: 100px auto; 
    padding: 30px; 
    text-align: center;
    border: 2px solid #4682b4; 
}

.product-box ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

.product-box ul li {
    display: block;
    margin-bottom: 20px; 
}

.product-box p {
    font-size: 16px;
    line-height: 1.6; 
    color: #333333; 
    margin: 10px 0;
}

.product-box img {
    border: 1px solid #cccccc; 
    padding: 5px; 
    background-color: #ffffff; 
}