/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background: #f2f2f2;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

#todoText {
    width: 250px;
    padding: 6px;
    border: 1px solid gray;
    border-radius: 5px; 
}

#button {
    padding: 6px 15px;
    background: #0275d8;
    color: white;
    border: none;
    cursor: pointer;
}

#button:hover {
    background: #025aa5;
}

#pending {
    background: whitesmoke;
    border: 1px dashed #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

#compelete {
    background: #c8ffd0;
    border: 1px dashed #6fcf78;
    padding: 10px;
}


#pending div,
#compelete div {
    background: white;
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}

#compelete div {
    background: #a8ffb3;
    color: #004d1a;
    cursor: default; 
    opacity: 0.7;
}
