*{
    margin: 0;
}
html {
    height: 100%; 
}

body {
    min-height: 100%; 
    margin: 0; 
    padding: 0;
    position: relative; 
}

#content-wrapper {
    min-height: 100%; 
    padding-bottom: 100px; 
    box-sizing: border-box; 
}


.header {
    background-color: #343a40; 
    width: 100%;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.header li {
    list-style: none;
    display: inline-block;
    margin: 0 25px; 
    vertical-align: middle;
}

.header li a {
    padding: 12px 18px; 
    color: #ffffff;
    font: bold 16px tahoma; 
    text-decoration: none;
}

.header li a:hover {
    cursor: pointer;
    color: #ffd700; 
    /* background-color: #495057;  */
}

.header li:active {
    color: #ff4500; 
}

.header li:first-child {
    margin-left: 30px;
    margin-right: 500px;
}

.header li:last-child {
    margin-left: 100px;
}


footer {
    text-align: center;
    color: #ffffff;
    padding: 20px;
    background-color: #203449;
    width: 100%;
    height: 60px; 
    position: absolute; 
    bottom: 0;
    left: 0;
}