.product {
    width: 20%;
    height: auto;
    margin: 20px 20px;
    display: inline-block;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
}

.product:hover{
        box-shadow: 0 0 15px grey;
}
.product-image img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.product-image {
    width: 100%;
    height: auto;
}

#products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product-info {
    padding: 0px 5px;
    margin: 5px 0px;
    margin-bottom: 20px;
}

/* .product-actions {
    
} */
.product-actions button{
    width: 100%;
    margin: 5px 6px;
    padding: 7px 0px;
    border: 0px;
    border-radius: 8px;
    background-color: darkcyan;
    color: white;
    cursor: pointer;
}
.product-actions button:active{
    background-color: darkslategray;
}
.product-actions button:hover{
    border: 1px solid grey;
}